*{
  margin: 0;
  padding: 0;
}

body{

  background-size: 400px 500px , 700px;/* if you give width height only once it will be applied to both images like 400px 400px
                           can define the size of each image using the syntax: width height with comma
                           can give value  like 400px, cover 
                          auto - size is same as image 
                        cover - image will take the size of element in which it is define
                        contain - image will put its own expected ratio and will be adjusted in the element in which it is defined ho skta hai height and widht poori cover no kare
                        you can give any value in px or % */


  background-repeat: no-repeat;  /*repeat-x repeat vetically
                                  repeat-y : repeat horizontally
                                  no-repeat : image will not repeat
                                  space : image will be repeated but there will be space between them image not strech
                                  round  : image will be repeated but there will be space between them and image will be rounded just like round in maths image is stretch
                                  repeat - by default the repeat */

  background-position: 0% 0%, 100% 0%;/*defining the position of each image  x-axis and y-axis by using comma can define for many images
                            0-> left   100->right 50->center
                            left, left bottom, right, center center etc. like value can pass to it*/
                            
  border: 50px dashed transparent;                  
                            
  background-origin: border-box;/*works on bgimages only 
                      padding-box : background will be shown inside the padding  by default
                      border-box   : background will be shown from the border  it cover the border and padding both
                      content-box: background will be shown from the content area only it will not cover the padding and border*/
}

.content{
  width: 300px;
  height: 300px;
  position: relative;
  align-self: center; 
  justify-self:center;
  top:210px;
  background-image: url("https://i.pinimg.com/originals/3b/e2/39/3be2392e64c853a78cdf38fb54e542b9.jpg" );
  background-size: cover;
  background-repeat:  no-repeat;
  
  border: 20px dashed green;
  background-origin: border-box;
}